body {
    background-color: #fafafa;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.custom_btn {
    display: inline-block;
    color:black;
    background: #fafafa;
    outline: 1px solid black;
    padding: 5px;
  }
  
.custom_btn:hover {
    background-color: rgba(255, 0, 0, 0.637);
}
  
.custom_btn a {
    text-decoration: none;
}
.navbar {
    text-align: center;
}

.navbar a {
    display: inline-block;
    width:15%;
    text-decoration: none;
    color: black;
}

#logo {
    width: 250px;
    height: auto;
}

.top {
    background-image: url(vanguard.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 500px;
    width: 80%;
    margin-top: 5%;
    left: 10%;
}

.content {
    position: relative;
    margin-top: 3%;
    left: 10%;
}